* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview-container {
    background-color: white;
    width: 100%;
    height: 100%;
    transition: width .5s, height .5s;
}

#preview-area {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    box-shadow: 0.5px 0.5px 8px darkgrey;
}

#controls-container {
    background-color: black;
    position: fixed;
    bottom: 10%;
    right: 8%;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid darkgray;
}

#tablet, #phone, #report-problem {
    color: darkgrey;
    fill: darkgrey;
    cursor: pointer;
}

#exit {
    font-size: 2.25rem;
    color: #FF914D;
    text-decoration: none;
}

#computer {
    fill: white;
    cursor: pointer;
}

#divider {
    background-color: white;
    height: 40%;
    width: 1px;
}

#controls-container svg:hover {
    color: rgb(236, 236, 236);
    fill: rgb(236, 236, 236);
}

#controls-container input {
    display: none;
}