/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

/* ------------------ HEADER --------------------- */

header {
    padding: 0px 15px;
    padding-right: 20px;
    background-color: white;
    width: 100%;
    position: fixed;
}

/* TOP LEFT HEADER ROW */

#top-row {
    padding-top: 6px;
}

#group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

#top-left-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    color: rgb(95, 95, 95);
}

#top-left nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

#top-left {
    width: 90%;
}

#logo {
    width: 2.1rem;
    height: auto;
    margin-left: 5px;
}

#workspace-title {
    border: none;
    outline: none;
    font-size: 1.15rem;
    border-radius: 4px;
    padding: 1px 6px;
    width: 130px;
    color: rgb(120, 120, 120);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

#workspace-title:hover {
    outline: .5px solid lightgrey;
}

#grouping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 3.25vh;
}

#group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.icon-container {
    border-radius: 3px;
    padding: 3px 4px;
    cursor: pointer;
}

.icon-container:hover {
    background-color: rgb(240, 240, 240);
}

.far, .fas {
    transform: scale(.8);
}

#star-icon-container {
    margin-left: 5px;
}

#star-icon {
    color: rgb(95, 95, 95);
}

#cloud-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px 4px;
}

/* TOP RIGHT HEADER ROW */

#share-button {
    background-color: #FF914D;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: .85rem;
    cursor: pointer;
}

#share-button:hover {
    opacity: .9;
}

#lock-icon {
    transform: scale(.8);
}

#account-icon {
    border-radius: 50%;
    cursor: pointer;
}

#collab-history-container {
    border-radius: 50%;
    padding: 12px 15px;
    cursor: pointer;
}

#collab-history-container:hover {
    background-color: rgb(240, 240, 240);
}

#collab-history {
    transform: scale(1.15);
}

#preview-container {
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
}

#preview-container:hover {
    background-color: rgb(240, 240, 240);
}

#comment, #collab-history, #preview, #undo, #redo {
    color: rgb(95, 95, 95);
    fill: rgb(95, 95, 95);
}

#preview {
    margin-top: 3px;
}

/* NAVIGATION BUTTONS (FILE, EDIT, VIEW, ETC) */

.nav-button {
    padding: 5px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .88rem;
}

.nav-button:hover {
    background-color: rgb(240, 240, 240);
}

#version-history-link {
    text-decoration: underline;
    font-size: .8rem;
    cursor: pointer;
    color: rgb(95, 95, 95);
    white-space: nowrap;
}

#nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saved-message {
    font-size: .8rem;
    padding-left: 8px;
}

#comment-container {
    border-radius: 50%;
    padding: 12px 14px;
    cursor: pointer;
}

#comment-container:hover {
    background-color: rgb(240, 240, 240);
}

#comment {
    transform: scale(1.25);
}

#code-area {
    display: flex;
    width: 100%;
    overflow: auto;
    height: 100%;
}

#code-input {
    resize: none;
    width: 100%;
    max-width: 1250px;
    height: 99.9%;
    outline: none;
    border: none;
    padding: 45px;
    background-color: rgb(245, 245, 245);
    font-family: monospace;
    font-size: 1.15rem;
}

#top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.divider {
    height: 1px;
    width: 105%;
    background-color: lightgrey;
    border: none;
    margin-top: 5px;
    margin-left: -15px;
}

/*#bottom-row {
    height: 3.5vh;
    display: flex;
    align-items: center;
}

#bottom-group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100%;
    margin-top: 5px;
}

#bottom-group-1 div {
    padding: 3px 7px;
    cursor: pointer;
    color: rgb(95, 95, 95);
    border-radius: 5px;
}

#bottom-group-1 div:hover {
    background-color: rgb(240, 240, 240);
}

.vertical-line {
    height: 65%;
    width: 1px;
    background-color: lightgrey;
    margin-top: 5px;
    margin-left: 7px;
}

#zoom-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 65px;
    height: 25px;
    border-radius: 2px;
    margin-top: 5px;
    margin-left: 8px;
}

#zoom-box:hover {
    background-color: rgb(240, 240, 240);
}

#zoom-box:hover #zoom-input {
    background-color: rgb(240, 240, 240);
}

#zoom-box:hover > #zoom-divider {
    background-color: lightgrey;
}

#zoom-divider {
    height: 75%;
    width: 1px;
    background-color: white;
}

#zoom-input {
    width: 38px;
    padding: 3px 4px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: .74rem;
    color: rgb(95, 95, 95);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

#zoom-right {
    cursor: pointer;
}

#zoom-arrow-down {
    color: rgb(95, 95, 95);
    margin-bottom: 5px;
    margin-left: 2px;
}*/

/* TERMINAL BUTTON */

#preview-inpage-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    padding: 9px;
    position: fixed;
    bottom: 1.5%;
    right: 18%;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px rgb(177, 177, 177);
}

#preview-inpage-container i {
    color: rgb(95, 95, 95);
    fill: rgb(95, 95, 95);
    transform: scale(1.4);
}

/* ------------------ CODE AREA STYLING ------------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* RIGHT NAVIGATION */

#right-nav-spot {
    height: 100%;
    width: 530px;
}

#right-nav {
    height: 92.3%;
    width: 250px;
    background-color: white;
    position: fixed;
    right: 0%;
    bottom: 0%;
    border-left: 1px solid rgb(199, 199, 199);
}

.divider-vertical {
    height: 100%;
    width: 1px;
    background-color: lightgrey;
    border: none;
}

#top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

#hierarchy-tab, #presets-tab {
    color: rgb(95, 95, 95);
    text-decoration: none;
    width: max-content;
    font-weight: bold;
}

#hierarchy-tab {
    color: #FF914D;
}

#undo-container, #redo-container {
    border-radius: 50%;
    padding: 7px 10px;
    cursor: pointer;
}

#undo-container:hover, #redo-container:hover {
    background-color: rgb(240, 240, 240);
}

#hierarchy-underline, #presets-underline {
    height: 3px;
    width: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FF914D;
}

#presets-underline {
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.top-nav-divider-line {
    border: .5px solid rgb(199, 199, 199);
}

#top-nav-divider {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#hierarchy-controls {
    width: 95%;
    padding-top: 15px;
    margin-left: 5px;
}

#controls-row-1, #controls-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
    width: 100%;
}

#controls-row-2 {
    margin-left: 3px;
}

#hierarchy-controls div div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 60px;
    padding: 8px;
    border-radius: 5px;
}

#hierarchy-controls div div i {
    /*color: rgb(95, 95, 95);*/
    transform: scale(1.5);
    width: max-content;
}

.fa-css3 {
    color: rgb(71, 71, 212);
}

.fa-js-square {
    color: rgb(230, 214, 0);
}

.fa-html5 {
    color: rgb(214, 99, 84);
}

.image-icon {
    color: rgb(90, 56, 151);
    transform: scale(1.2);
}

#folder-icon {
    color: rgb(95, 95, 95);
}

.control-title {
    font-size: .9rem;
    color: rgb(95, 95, 95);
}

#hierarchy-controls div div:hover .control-title {
    color: black;
}

#hierarchy-controls div div:active {
    background-color: rgb(240, 240, 240);
}


#add-js-container {
    padding: 8px 20px !important;
}

#divider-2 {
    margin-top: 10px;
}

#image-container {
    padding: 20px;
    padding-left: 40px;
}

#upload-image-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#image-icon {
    color: rgb(90, 56, 151);
    transform: scale(2.5);
}

#upload-button {
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: rgb(90, 56, 151);
    font-size: .9rem;
    cursor: pointer;
}

/* HIERARCHY */

#hierarchy-tree {
    padding: 20px;
    font-size: .875rem;
    color: rgb(95, 95, 95);
}

.folder-container {
    padding: 5px 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.folder {
    padding-left: 10px;
}

.folder-contents-container {
    margin-left: 20px;
    padding: 5px;
}

.fa-chevron-down, .fa-chevron-up {
    cursor: pointer;
}

#image-item-preview {
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.95);
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 5px;
    display: none;
}

.item-container {
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item {
    margin-left: 10px;
    padding: 1px 3px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
}

#left-screen {
    height: 84.7%;
    width: 100%;
}

#tabs {
    background-color: rgb(220, 220, 220);
    border-top: none;
    height: 4vh;
    width: 112.78%;
    display: flex;
    align-items: center;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11%;
    padding: 8px;
    cursor: pointer;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.tab-title {
    color: rgb(95, 95, 95);
    font-size: .9rem;
}

.tab-selected {
    background-color: rgb(245, 245, 245) !important;
}

.tab-selected-darkmode {
    background-color: rgb(95, 95, 95) !important;
}

.tab-exit {
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(95, 95, 95);
    user-select: none;
}

.tab-exit:hover {
    color: rgb(120, 120, 120);
}

#tab-divider-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    background-color: rgb(230, 230, 230);
}

#tab-divider {
    background-color: rgb(120, 120, 120);
    height: 55%;
    width: 1px;
}

#presets-tab-contents {
    display: none;
}

#favicon-preset-container {
    padding: 23px 20px;
    margin-top: 10px;
}

#favicon-preset-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#favicon-preset-title {
    color: rgb(95, 95, 95);
}

#favicon-preset-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 193px;
    margin: 0 auto;
}

#favicon-file {
    display: none;
}

#favicon-file-label {
    background-color: #FF914D;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

#favicon-img {
    width: 30px;
    height: auto;
}

#favicon-file-upload {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

#favicon-img-display {
    border: 2px solid rgb(220, 220, 220);
    height: 75px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 220, 220);
    font-size: .7rem;
}

#favicon-default-text {
    width: 70px;
    text-align: center;
}

#favicon-img-display-img {
    max-width: 135px;
    display: none;
    cursor: grab;
}

#favicon-filename {
    font-size: .8rem;
    color:rgb(95, 95, 95);
    text-align: center;
}

#greyscale-logo {
    width: 250px;
    opacity: 0.8;
}

.open-closePreset {
    color: darkgrey;
}

.tag-namePreset {
    color: rgb(16, 16, 110);
}

.attribute-namePreset {
    color: rgb(61, 158, 236);
}

.value-namePreset {
    color: rgb(255, 153, 0);
}

/* PREVIEW */

#preview-container-2 {
    width: 100%;
    height: 100%;
    transition: width .5s, height .5s;
    padding: 0px;
    z-index: 8;
}

#preview-area {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    box-shadow: 0.5px 0.5px 8px darkgrey;
    background-color: white;
}

#controls-container {
    background-color: black;
    position: fixed;
    bottom: 10%;
    right: 8%;
    border-radius: 50px;
    width: 325px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid darkgray;
    z-index: 9;
}

#tablet, #phone, #report-problem, #refresh {
    color: darkgrey;
    fill: darkgrey;
    cursor: pointer;
}

#refresh-container {
    transform: scale(1.5);
}

#exit {
    transform: scale(2);
    color: #FF914D;
    text-decoration: none;
    cursor: pointer;
}

#exit:hover {
    color: white;
}

#computer {
    fill: white;
    cursor: pointer;
}

#divider {
    background-color: white;
    height: 40%;
    width: 1px;
}

#controls-container svg:hover {
    color: rgb(236, 236, 236);
    fill: rgb(236, 236, 236);
}

#controls-container i:hover {
    color: rgb(236, 236, 236);
    fill: rgb(236, 236, 236);
}

#controls-container input {
    display: none;
}

#preview-trial {
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
    color: black;
    z-index: 7;
}

#code-input-css {
    resize: none;
    width: 100%;
    max-width: 1250px;
    height: 99.9%;
    outline: none;
    border: none;
    padding: 45px;
    background-color: rgb(245, 245, 245);
    font-family: monospace;
    font-size: 1.15rem;
    display: none;
    color: black;
}

#code-input-js {
    resize: none;
    width: 100%;
    max-width: 1250px;
    height: 99.9%;
    outline: none;
    border: none;
    padding: 45px;
    background-color: rgb(245, 245, 245);
    font-family: monospace;
    font-size: 1.15rem;
    display: none;
    color: black;
}

@keyframes refresh {
    0% {
        transform: scale(1.5) rotate(0deg);
    }

    100% {
        transform: scale(1.5) rotate(360deg);
    }
}

.refreshing {
    animation-name: refresh;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#auto-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid rgb(95, 95, 95);
    top: 0%;
    left: 0%;
    width: 200px;
    height: 120px;
    display: none;
    border-radius: 5px;
}

/* LINE NUMBERS - CODE EDITOR */

pre {
	counter-reset: linecounter;
}
pre span.line{
    counter-increment: linecounter;
}
pre span.line:before{
	content: counter(linecounter);
	width: 1.3rem;
	display: inline-block;
	border-right: 1px solid rgb(95, 95, 95);
    margin-right: 5px;
}

/* TERMINAL */

#terminal-area {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#terminal-controls {
    width: 25%;
    height: 100%;
}

#terminal-input {
    display: none;
    width: 90%;
    height: 80%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.terminal-line {
    font-size: .85rem;
}

.terminal-line::before {
    content: 'Tanner Kopel ~ ';
    color: #FF914D;
    font-size: .9rem;
    padding-right: 5px;
}

#terminal-container {
    height: 0px;
    width: 83.3%;
    background-color: white;
    position: fixed;
    left: 0%;
    bottom: 0%;
    border-top: 1px solid rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes terminalUp {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}

@keyframes buttonUp {
    0% {
        bottom: 1.5%;
    }
    100% {
        bottom: 215px;
    }
}

@keyframes terminalDown {
    0% {
        height: 200px;
    }
    100% {
        height: 0px;
    }
}

@keyframes buttonDown {
    0% {
        bottom: 215px;
    }
    100% {
        bottom: 1.5%;
    }
}

@keyframes tooltipUp {
    0% {
        top: 91%;
    }
    100% {
        top: 68.5%;
    }
}

@keyframes tooltipDown {
    0% {
        top: 68.5%;
    }
    100% {
        top: 91%;
    }
}

.terminal-up {
    animation-name: terminalUp;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

.button-up {
    animation-name: buttonUp;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

.terminal-down {
    animation-name: terminalDown;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

.button-down {
    animation-name: buttonDown;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

.tooltip-up {
    animation-name: tooltipUp;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

.tooltip-down {
    animation-name: tooltipDown;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

/* NAVIGATION BUTTON DROPDOWNS */

#file-dropdown {
    position: fixed;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 4.5px 8px darkgray;
    width: 200px;
    height: 410px;
    top: 7%;
    left: 4.5%;
    overflow: hidden;
    display: none;
    color: black;
    z-index: 8;
}

.file-item-container {
    padding: 6px;
    margin-top: 5px;
}

.file-item-container:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.file-item {
    margin-left: 30px;
    font-size: .9rem;
}

.shortcut {
    color: rgb(140, 140, 140);
    margin-left: 65px;
    font-weight: bold;
}

.file-divider {
    margin-left: 35px;
    border: none;
    outline: none;
    background-color: rgb(220, 220, 220);
    height: 1px;
}

#file-share-container, #file-copy-container, #file-version-history-container, #file-publish-container, #file-move-container {
    margin-bottom: 5px;
}

#edit-dropdown {
    position: fixed;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 4.5px 8px darkgray;
    width: 350px;
    height: 218px;
    top: 7%;
    left: 7%;
    overflow: hidden;
    display: none;
    color: black;
    z-index: 8;
}

.edit-item-container {
    padding: 6px;
    margin-top: 5px;
}

.edit-item-container:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.edit-item {
    margin-left: 30px;
    font-size: .9rem;
}

.edit-shortcut {
    color: rgb(140, 140, 140);
    margin-left: 220px;
    font-weight: bold;
}

.edit-divider {
    margin-left: 35px;
    border: none;
    outline: none;
    background-color: rgb(220, 220, 220);
    height: 1px;
}

#edit-redo-container, #edit-paste-container {
    margin-bottom: 5px;
}

#cut-shortcut {
    margin-left: 230.5px;
}

#find-shortcut {
    margin-left: 225px;
}

#paste-shortcut {
    margin-left: 216px;
}

#view-dropdown {
    position: fixed;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 4.5px 8px darkgray;
    width: 230px;
    height: 255px;
    top: 7%;
    left: 9.6%;
    overflow: hidden;
    display: none;
    color: black;
    z-index: 8;
}

.view-item-container {
    padding: 6px;
    margin-top: 5px;
}

.view-item-container:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.view-item {
    margin-left: 30px;
    font-size: .9rem;
}

.view-shortcut {
    color: rgb(140, 140, 140);
    margin-left: 220px;
    font-weight: bold;
}

.view-divider {
    margin-left: 35px;
    border: none;
    outline: none;
    background-color: rgb(220, 220, 220);
    height: 1px;
}

#view-mode-container, #view-lightmode-container {
    margin-bottom: 5px;
}

#mode-icon {
    margin-left: 8px;
}

#change-theme-container {
    width: 150px;
    background-color: white;
    border-radius: 4px;
    height: 150px;
    position: fixed;
    left: 25%;
    top: 11.25%;
    box-shadow: 0px 0px 4px rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.theme-container {
    display: flex;
    align-items: center;
    padding: 5.5px;
    cursor: pointer;
}

.theme-item {
    margin-left: 25px;
    font-size: .9rem;
}

.theme-container:hover {
    background-color: rgb(245, 245, 245);
}

/* HORIZONTAL PREVIEW */

#horizontal-layout {
    display: flex;
    width: 112.75%;
    height: 88vh;
}

/* PRESET LAYOUTS */

#layout-title-container {
    display: flex;
    align-items: center;
    height: 35px;
    width: 75%;
    padding: 35px 30px;
    color: rgb(95, 95, 95);
    fill: rgb(95, 95, 95);
    font-size: 1.05rem;
}

#layout-title {
    margin-left: 10px;
}

#layout-cards {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
    flex-wrap: wrap;
}

.layout {
    padding: 8px;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    margin-top: -8px;
}

.layout:hover {
    border: none;
    box-shadow: 1px 1px 8px rgb(192, 192, 192);
}

.layout-icon {
    transform: scale(1.2);
}

#layout-4, #layout-6 {
    margin-top: 12px;
}

#layout-3, #layout-5 {
    margin-top: 12px;
}

/* GIT VERSIONING AREA */

#git-version-container {
    display: none;
}

#git-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(95, 95, 95);
    margin: 0 auto;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid rgb(177, 177, 177);
}

#git-title-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    color: rgb(95, 95, 95);
    font-size: 1.15rem;
}

#git-exit {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 50%;
}

#git-exit:hover {
    background-color: rgb(245, 245, 245);
}

#git-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    margin-top: 250px;
    color: rgb(95, 95, 95);
    font-size: 1.1rem;
}

#git-intro-container button {
    background-color: #FF914D;
    padding: 10px 8px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    box-shadow: 0.5px 0.5px 4px rgb(199, 199, 199);
}

#git-intro-container button:active {
    box-shadow: none;
}

#git-beta {
    font-size: .85rem;
    padding: 2px 6px;
    background-color: rgb(71, 71, 212);
    color: white;
    border-radius: 4px;
    margin-left: 5px;
}
#git-icon {
    display: none;
}

.preset-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: rgb(95, 95, 95);
    cursor: pointer;
}

.preset-container:hover {
    color: black;
}

.preset-icon {
    width: 2rem;
}

/* TOOLTIPS */

.tooltip {
    font-size: .7rem;
    top: 88%;
    background-color: rgba(95, 95, 95, 0.9);
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    transition: transform .05s;
    transform: scale(0);
}

#logo-tooltip {
    top: 86%;
    left: 0.2%;
}

#preview-tooltip {
    left: 76.1%;
}

#darkmode-tooltip {
    left: 81%;
}

#git-tooltip {
    left: 85%;
}

#undo-tooltip {
    left: 67.3%;
}

#redo-tooltip {
    left: 71.5%;
}
#share-tooltip {
    left: 91.3%;
}

#account-tooltip {
    left: 90.5%;
    text-align: left;
}

#version-tooltip {
    left: 22.2%;
}

#star-tooltip {
    top: 58%;
    left: 13.75%;
}

#move-tooltip {
    top: 58%;
    left: 15.6%;
}

#status-tooltip {
    top: 58%;
    left: 18.08%;
}

#title-tooltip {
    top: 58%;
    left: 7.2%;
}

#phone-tooltip {
    left: 3%;
}

#tablet-tooltip {
    left: 19%;
}

#laptop-tooltip {
    left: 34%;
}

#report-tooltip {
    left: 52%;
}

#refresh-tooltip {
    left: 74%;
}

#exit-tooltip {
    left: 78.25%;
}

#terminal-tooltip {
    left: 78.8%;
    top: 91%;
}

#copy-html-tooltip {
    left: 61.5%;
    top: 30.5%;
}

#copy-css-tooltip {
    left: 63%;
    top: 55.5%;
}

#copy-js-tooltip {
    left: 65%;
    top: 80.5%;
}

/* PRESET CODE AREA */

#preset-code-container {
    display: none;
}

#code-exit {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 50%;
}

#code-exit:hover {
    background-color: rgb(245, 245, 245);
}

#code-title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(177, 177, 177);
}

#code-title-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 185px;
}

#code-title {
    color: rgb(95, 95, 95);
    font-size: 1.1rem;
}

#code-icon {
    width: 1.5rem;
}

#code-desc-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
}

#code-desc {
    text-align: center;
    font-size: .9rem;
    color: rgb(95, 95, 95);
}

.code-container {
    border: 1.5px solid rgb(95, 95, 95);
    margin: 0 auto;
    width: 80%;
    height: 175px;
    margin-top: 30px;
    overflow-y: scroll;
    background-color: rgb(245, 245, 245);
}

.code {
    width: 100%;
    height: 100%;
}

#preset-library-button {
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    color: rgb(95, 95, 95);
    font-family: 'Roboto';
    font-size: .95rem;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#preset-library-button:hover {
    color: black;
}

.fa-copy {
    transform: scale(1.2);
    color: rgba(95, 95, 95, .8);
    cursor: pointer;
}

#copy-html {
    position: fixed;
    top: 295px;
    right: 55px;
}

#copy-css {
    position: fixed;
    top: 500px;
    right: 55px;
}

#copy-js {
    position: fixed;
    top: 705px;
    right: 55px;
}

/* HIERARCHY RIGHT CLICK */

#right-click-hierarchy {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 150px;
    height: 100px;
    box-shadow: 0px 0px 8px rgb(219, 219, 219);
    border-radius: 5px;
    position: absolute;
}

.right-click-hierarchy-selection {
    width: 100%;
    cursor: pointer;
    height: 30%;
    display: flex;
    align-items: center;
    color: rgb(95, 95, 95);
}

.right-click-hierarchy-selection p {
    font-size: .9rem;
    margin-left: 25px;
}

.right-click-hierarchy-selection i {
    margin-left: 10px;
    transform: scale(1.01);
}

.right-click-hierarchy-selection:hover {
    background-color: rgb(245, 245, 245);
}

#type-container {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(199, 199, 199);
    border-radius: 5px;
    width: 80px;
    height: 90px;
    overflow: hidden;
    display: none;
}

.type {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.type p {
    margin-left: 10px;
}

.type i {
    margin-left: 5px;
}

.type:hover {
    background-color: rgb(245, 245, 245);
}

/* DELETE POPUP */

#delete-popup-container {
    position: fixed;
    background-color: white;
    border: 1px solid rgb(95, 95, 95);
    width: 30%;
    height: 20%;
    z-index: 12;
    top: 40%;
    left: 35%;
    display: none;
}

#popup-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(95, 95, 95);
}

#popup-top h1 {
    font-size: 1.1rem;
}

#popup-top p {
    font-size: 1.5rem;
    cursor: pointer;
}

#popup-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    margin-top: 5%;
}

#popup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

#popup-buttons button {
    padding: 2px 10px;
    cursor: pointer;
}

/* TABS GONE */

#tabs-gone-container {
    background-color: rgb(220, 220, 220);
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 83.32%;
    height: 88.2%;
    z-index: 15;
    user-select: none;
}

#website-button-container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(199, 199, 199);
    width: 100%;
    margin-top: 215px;
}

#website-button {
    padding: 5px 10px;
    background-color: #FF914D;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#website-button:hover {
    opacity: .8;
}