* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

header {
    padding: 0px 15px;
    padding-right: 20px;
    background-color: white;
    width: 100%;
    position: fixed;
}

#top-row {
    padding-top: 6px;
}

#group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

#top-left-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    color: rgb(95, 95, 95);
}

#top-left nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

#top-left {
    width: 90%;
}

#logo {
    width: 2.1rem;
    height: auto;
    margin-left: 5px;
}

#workspace-title {
    border: none;
    outline: none;
    font-size: 1.15rem;
    border-radius: 4px;
    padding: 1px 6px;
    width: 130px;
    color: rgb(120, 120, 120);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

#workspace-title:hover {
    outline: .5px solid lightgrey;
}

#grouping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 3.25vh;
}

#group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

#share-button {
    background-color: #FF914D;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: .85rem;
    cursor: pointer;
}

#share-button:hover {
    opacity: .9;
}

#lock-icon {
    transform: scale(.8);
}

#account-icon {
    border-radius: 50%;
    cursor: pointer;
}

#collab-history-container {
    background-color: white;
    border-radius: 50%;
    padding: 12px 15px;
    cursor: pointer;
}

#collab-history-container:hover {
    background-color: rgb(240, 240, 240);
}

#collab-history {
    transform: scale(1.15);
}

.icon-container {
    background-color: white;
    border-radius: 3px;
    padding: 3px 4px;
    cursor: pointer;
}

.icon-container:hover {
    background-color: rgb(240, 240, 240);
}

.far, .fas {
    transform: scale(.8);
}

#star-icon-container {
    margin-left: 5px;
}

#star-icon {
    color: rgb(95, 95, 95);
}

#cloud-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px 4px;
}

.nav-button {
    padding: 5px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .88rem;
}

.nav-button:hover {
    background-color: rgb(240, 240, 240);
}

#version-history-link {
    text-decoration: underline;
    font-size: .8rem;
    cursor: pointer;
    color: rgb(95, 95, 95);
    white-space: nowrap;
}

#nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saved-message {
    font-size: .8rem;
    padding-left: 8px;
}

#comment-container {
    background-color: white;
    border-radius: 50%;
    padding: 12px 14px;
    cursor: pointer;
}

#comment-container:hover {
    background-color: rgb(240, 240, 240);
}

#comment {
    transform: scale(1.25);
}

#code-area {
    display: flex;
    justify-content: center;
    width: 115%;
    overflow: auto;
    height: 100%;
}

#code-input {
    resize: none;
    width: 100%;
    height: 80vh;
    outline: none;
    border: none;
    padding: 45px;
    background-color: rgb(245, 245, 245);
    font-family: "Lucida Grande",Verdana;
    font-size: .85rem;
}

#top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.divider {
    height: 1px;
    width: 102%;
    background-color: lightgrey;
    border: none;
    margin-top: 5px;
    margin-left: -10px;
}

#bottom-row {
    height: 3.5vh;
    display: flex;
    align-items: center;
}

#bottom-group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100%;
    margin-top: 5px;
}

#bottom-group-1 div {
    padding: 3px 7px;
    cursor: pointer;
    color: rgb(95, 95, 95);
    border-radius: 5px;
}

#bottom-group-1 div:hover {
    background-color: rgb(240, 240, 240);
}

.vertical-line {
    height: 65%;
    width: 1px;
    background-color: lightgrey;
    margin-top: 5px;
    margin-left: 7px;
}

#zoom-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 65px;
    height: 25px;
    border-radius: 2px;
    margin-top: 5px;
    margin-left: 8px;
}

#zoom-box:hover {
    background-color: rgb(240, 240, 240);
}

#zoom-box:hover #zoom-input {
    background-color: rgb(240, 240, 240);
}

#zoom-box:hover > #zoom-divider {
    background-color: lightgrey;
}

#zoom-divider {
    height: 75%;
    width: 1px;
    background-color: white;
}

#zoom-input {
    width: 38px;
    padding: 3px 4px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: .74rem;
    color: rgb(95, 95, 95);
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

#zoom-right {
    cursor: pointer;
}

#zoom-arrow-down {
    color: rgb(95, 95, 95);
    margin-bottom: 5px;
    margin-left: 2px;
}

#preview-inpage-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    padding: 9px;
    position: fixed;
    bottom: 1.5%;
    right: 18%;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px rgb(177, 177, 177);
}

#preview-inpage-container i {
    color: rgb(95, 95, 95);
    fill: rgb(95, 95, 95);
    transform: scale(1.4);
}

#preview-container {
    background-color: white;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
}

#preview-container:hover {
    background-color: rgb(240, 240, 240);
}

#comment, #collab-history, #preview, #undo, #redo {
    color: rgb(95, 95, 95);
    fill: rgb(95, 95, 95);
}

#preview {
    margin-top: 3px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#right-nav-spot {
    height: 100%;
    width: 530px;
}

#right-nav {
    height: 92.3%;
    width: 250px;
    background-color: white;
    position: fixed;
    right: 0%;
    bottom: 0%;
    border-left: 1px solid rgb(199, 199, 199);
}

.divider-vertical {
    height: 100%;
    width: 1px;
    background-color: lightgrey;
    border: none;
}

#terminal-container {
    height: 0px;
    width: 83.3%;
    background-color: white;
    position: fixed;
    left: 0%;
    bottom: 0%;
    border-top: 1px solid rgb(177, 177, 177);
}

#terminal-top-divider {
    margin-top: 0px;
    margin-left: -23px;
}

@keyframes terminalUp {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}

@keyframes buttonUp {
    0% {
        bottom: 1.5%;
    }
    100% {
        bottom: 215px;
    }
}

@keyframes terminalDown {
    0% {
        height: 200px;
    }
    100% {
        height: 0px;
    }
}

@keyframes buttonDown {
    0% {
        bottom: 215px;
    }
    100% {
        bottom: 1.5%;
    }
}

.terminal-up {
    animation-name: terminalUp;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.button-up {
    animation-name: buttonUp;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.terminal-down {
    animation-name: terminalDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.button-down {
    animation-name: buttonDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

#hierarchy-tab, #presets-tab {
    color: rgb(95, 95, 95);
    text-decoration: none;
    width: max-content;
    font-weight: bold;
}

#hierarchy-tab {
    color: #FF914D;
}

#undo-container, #redo-container {
    border-radius: 50%;
    padding: 7px 10px;
    cursor: pointer;
}

#undo-container:hover, #redo-container:hover {
    background-color: rgb(240, 240, 240);
}

#hierarchy-underline, #presets-underline {
    height: 3px;
    width: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FF914D;
}

#presets-underline {
    width: 40px;
    background-color: white;
}

.top-nav-divider-line {
    border: .5px solid rgb(199, 199, 199);
}

#top-nav-divider {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#hierarchy-controls {
    width: 95%;
    padding-top: 15px;
    margin-left: 5px;
}

#controls-row-1, #controls-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;
    width: 100%;
}

#controls-row-2 {
    margin-left: 3px;
}

#hierarchy-controls div div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 60px;
    padding: 8px;
    border-radius: 5px;
}

#hierarchy-controls div div i {
    /*color: rgb(95, 95, 95);*/
    transform: scale(1.5);
    width: max-content;
}

.fa-css3 {
    color: rgb(71, 71, 212);
}

.fa-js-square {
    color: rgb(230, 214, 0);
}

.fa-html5 {
    color: rgb(214, 99, 84);
}

#folder-icon {
    color: rgb(95, 95, 95);
}

.control-title {
    font-size: .9rem;
    color: rgb(95, 95, 95);
}

#hierarchy-controls div div:hover .control-title {
    color: black;
}

#hierarchy-controls div div:active {
    background-color: rgb(240, 240, 240);
}


#add-js-container {
    padding: 8px 20px !important;
}

#divider-2 {
    margin-top: 10px;
}

#hierarchy-tree {
    padding: 20px;
    font-size: .875rem;
    color: rgb(95, 95, 95);
}

.folder-container {
    padding: 5px 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.folder {
    padding-left: 10px;
}

.folder-contents-container {
    margin-left: 20px;
    padding: 5px;
}

.fa-chevron-down, .fa-chevron-up {
    cursor: pointer;
}


.item-container {
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item {
    padding-left: 10px;
}

#left-screen {
    height: 84.7%;
    width: 100%;
}

#tabs {
    background-color: rgb(220, 220, 220);
    border-top: none;
    height: 4vh;
    width: 115%;
    display: flex;
    align-items: center;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11%;
    padding: 8px;
    cursor: pointer;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

.tab-container:active {
    cursor: grabbing;
}

.tab-title {
    color: rgb(95, 95, 95);
    font-size: .9rem;
}

.tab-selected {
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-exit {
    font-size: 1.3rem;
    cursor: pointer;
}

#tab-divider-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    background-color: rgb(230, 230, 230);
}

#tab-divider {
    background-color: rgb(120, 120, 120);
    height: 55%;
    width: 1px;
}

#presets-tab-contents {
    display: none;
}

#favicon-preset-container {
    padding: 15px 20px;
    margin-top: 10px;
}

#favicon-preset-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#favicon-preset-title {
    color: rgb(95, 95, 95);
}

#favicon-preset-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 193px;
    margin: 0 auto;
}

#favicon-file {
    display: none;
}

#favicon-file-label {
    background-color: #FF914D;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

#favicon-img {
    width: 30px;
    height: auto;
}

#favicon-file-upload {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

#favicon-img-display {
    border: 2px solid rgb(95, 95, 95);
    height: 75px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(95, 95, 95);
    font-size: .7rem;
}

#favicon-default-text {
    width: 70px;
    text-align: center;
}

#favicon-img-display-img {
    display: none;
}

#favicon-filename {
    font-size: .8rem;
    color:rgb(95, 95, 95);
    text-align: center;
}

.open-closePreset {
    color: blue;
}

.tag-namePreset {
    color: green;
}

.attribute-namePreset {
    color: red;
}